.header{
    /* display: flex; */
    background-color:lightblue;
    height:110vh;
    margin-top:-20px;
    padding-top: 10px;
    padding-bottom: 3px;
    /* overflow:hidden; */
}
.textHead{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: aqua; */
}
.textHead .left{
    /* background-color: black; */
    margin-top: -30px;
}
.textHead p{
    font-size: 30px;
    font-weight: bold;
}
.textHead .right textarea{
    border: 2px solid blue;
    border-radius: 6px;
    padding: 10px;
}
.dropdown-container{
    height: 26px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-left: 20px;
    padding-top: 3px;
    padding-right: 5px;
}
.dropdown-container .up{
    height:30px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.drop{
    /* background-color: brown; */
    margin-top: 3px;
    height: 25px;
    cursor: pointer;
    border: none;
    background: none;
}
.drop img{
    width: 15px;
    height: 15px;
}
.dropdown-options{
    list-style: none;
    background-color: white;
    border:1px solid black;
    border-top: none;
    border-radius: 4px;
    margin-top: -1px;
    margin-left: -20px;
    margin-right: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    overflow-y: scroll;
    height: 100px;
}::-webkit-scrollbar {
    width: 5px;
}::-webkit-scrollbar-thumb {
    background-color: #aaa8a8c7;
    border-radius: 10px;
}::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.dropdown-option{
    margin-left:-40px;
    border-radius: 6px;
}.dropdown-option:hover{
    background-color: rgba(162, 162, 238, 0.562);
}
.answer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}
.answer .left{
    /* background-color: beige; */
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.answer .left .type{
    width: 150px;
    cursor: pointer;
}
.answer .center{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.answer .center .length{
    width: 200px;
    cursor: pointer;
}
.answer .end{
    /* background-color: black; */
    padding-top: 15px;
    /* padding-left: 20px; */
}
.answer .end button{
    cursor: pointer;
    font-size: 21px;
    width: 90px;
    border-radius: 4px;
    color: white;
    background-color: red;
}
.choice{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 100px;
    /* background-color: black; */
}
.choice .choose{
    width: 1080px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* background-color: aqua; */
}
.choice .choose div{
    padding-left: 60px;
    display: flex;
    font: 30px;
    /* background-color: blue; */
    /* justify-content: space-around; */
}
.choice .choose .questions{
    /* background-color: aqua; */
    margin-top: -5px;
    font-size: 20px;
    padding-top: 8px;
    padding-right: 30px;
    /* cursor: pointer; */
}
.choice .submit button{
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    width: 150px;
    height:40px;
    border-radius: 4px;
    color: white;
    background-color: blue;
}
.remarks{
    margin-top: 20px;
    margin-bottom: 12px;
}
.remarks textarea{
    padding: 10px;
    background:none;
    border-radius: 4px;
    border: 2px solid black;
}